[submodule "Desktop/Frontend-mentor-solutions/Qr-component07"]
	path = Desktop/Frontend-mentor-solutions/Qr-component07
	url = https://github.com/DhairyaSehgal07/Qr-component07.git
[submodule "Desktop/Frontend-mentor-solutions/Interactive-comments-section"]
	path = Desktop/Frontend-mentor-solutions/Interactive-comments-section
	url = https://github.com/DhairyaSehgal07/Interactive-comments-section.git
[submodule "Desktop/Frontend-mentor-solutions/AdviceGenerator07"]
	path = Desktop/Frontend-mentor-solutions/AdviceGenerator07
	url = https://github.com/DhairyaSehgal07/AdviceGenerator07.git
[submodule "Desktop/Frontend-mentor-solutions/Interactive_rating_component"]
	path = Desktop/Frontend-mentor-solutions/Interactive_rating_component
	url = https://github.com/DhairyaSehgal07/Interactive_rating_component.git
